.vscode/**
.vscode-test/**
src/**
out/**
node_modules/**
.gitignore
tsconfig.json
esbuild.js
eslint.config.mts
.eslintrc.json
test-conversion.ts
test-conversion.js
test.pdf
test.docx
**/*.map
vsc-extension-quickstart.md
webpack.config.js
